SECRET_KEY=django-insecure_ваш_секретный_ключ
DEBUG=True

# Database settings
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# Stripe settings
STRIPE_SECRET_KEY=sk_test_your_key_here

# Email settings
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=example@gmail.com
EMAIL_HOST_PASSWORD=your_app_password_here

# Celery & Redis settings
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0