SECRET_KEY=
DEBUG=

# Database settings
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Stripe settings
STRIPE_SECRET_KEY=

# Email settings
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Celery & Redis settings
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=