# Django / Python
*.pyc
__pycache__/
celerybeat-schedule
db.sqlite3
media/
staticfiles/
static/

# Environments (Виртуальные окружения)
.env
.env.[a-zA-center]*
venv/
env/
ENV/

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Docker
.dockerconfig